WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_REDIRECT_URI=http://localhost:8787/callback
EIGHT_SLEEP_EMAIL=
EIGHT_SLEEP_PASSWORD=
EIGHT_SLEEP_CLIENT_ID=
EIGHT_SLEEP_CLIENT_SECRET=
PODSHIFT_HOME=
PODSHIFT_DISABLED=
PODSHIFT_AWAY=
